<div class="container m-5">
    <div class="card">
<div class="card-header">
    <h3>Formulaire d'employe</h3>
    
</div>
   <div class="card-body">
    <form (ngSubmit)="updateEmploye()">
        <div class="form-group">
            <label for="exampleInputEmail1">Nom d'employe</label>
            <input type="text" class="form-control" [(ngModel)]="employe.nom" name="employe.nom" placeholder="écrire le nom complet d'emloye ici ">
            <span class="text-danger" *ngIf="errors.nom">{{errors.nom}}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Salaire</label>
            <input type="number" class="form-control" [(ngModel)]="employe.salaire" name="employe.salaire"  placeholder="Écrivez le Salaire d’emloye ici ">
            <span class="text-danger" *ngIf="errors.salaire">{{errors.salaire}}</span>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Post</label>
            <input type="text" class="form-control"[(ngModel)]="employe.post" name="employe.post"  placeholder="Écrivez le post d’emloye ici ">
            <span class="text-danger" *ngIf="errors.post">{{errors.post}}</span>

        </div>
        
        <a class="btn btn-danger float-start" routerLink="/employe">Retour</a>
        <button type="submit" class="btn btn-primary float-end">valider</button>
    </form>
</div>
<div class="card-footer">
    
    
</div>
</div>
</div>